<div class="portfolio">
  <h1>Meu Portfólio</h1>
  <div class="portfolio-items">
    <div class="portfolio-item">
      <app-placeholder></app-placeholder>
      <h2>Projeto 1</h2>
      <p>Descrição do projeto 1.</p>
    </div>
    <div class="portfolio-item">
      <app-placeholder></app-placeholder>
      <h2>Projeto 2</h2>
      <p>Descrição do projeto 2.</p>
    </div>
    <div class="portfolio-item">
      <app-placeholder></app-placeholder>
      <h2>Projeto 3</h2>
      <p>Descrição do projeto 3.</p>
    </div>
    <div class="portfolio-item">
      <app-placeholder></app-placeholder>
      <h2>Projeto 4</h2>
      <p>Descrição do projeto 4.</p>
    </div>
  </div>
</div>